
<%- include('include/header') %>

  <main id="site-main">
    <div class="container">
        <div class="box-nav justify-between">
            <a href="/" class="btn border-shadow title_crud_user">
                <i class="fas fa-angle-left"></i> Back
            </a>
        </div>
    
        <div class="form-title text-center">
            <h2 class="text-dark">New User</h2>
            <span class="text-light">Create a new account</span>
        </div>

        <%- include('include/form') %>
       
    </div>
</main>
<%- include('include/footer') %>

