<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Application</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</head>
<body>

        <footer id="footer"> 
            <div class="grid-container">
                <div class="member"></div>
                <div class="member1">
                   <img class="img_logo"src="img/mongo.png" alt="">
                </div>
                <div class="member2">
                    <div class="name_mongo">MongoDB</div>
                </div>
                <div class="member3">
                    <div>Group</div>
                    <div>Member</div>
                </div>                 
                <div class="member4">
                    <div>15</div>
                    <div>Nguyen Trong Hoang</div>
                    <div>Tran Nhat Khue</div>
                    <div>Nguyen Thi Xuan Thuy</div>
                    <div>Nguyen Trong Nhan</div>
                </div>
                <div class="member5">
                    <div>19521535</div>
                    <div>19521713</div>
                    <div>19521940</div>
                    <div>19522327</div>
                </div>
            </div>             
        </footer>
